@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        
    </style>
</head>

<h1 class="display-4" id="guztia" style="text-align: center;">JOKOAK:</h1>

<div style="align-items: center; margin-left: 200px;">
       
    <div style="display: flex; align-items: center;">
       <img src="game_photo.jpg" alt="Game Photo" style="width: 200px; height: 200px;">
       <div style="margin-left: 20px;">
            <h2 style="color: #333;">Game Name</h2>
            <p style="color: #555;">Game description goes here. This can be a brief overview of the game's story, gameplay, etc.</p>
       </div>
    </div>

    <div style="display: flex; align-items: center;">
        <img src="game_photo.jpg" alt="Game Photo" style="width: 200px; height: 200px;">
        <div style="margin-left: 20px;">
            <h2 style="color: #333;">Game Name</h2>
            <p style="color: #555;">Game description goes here. This can be a brief overview of the game's story, gameplay, etc.</p>
        </div>
    </div>

    <div style="display: flex; align-items: center;">
        <img src="game_photo.jpg" alt="Game Photo" style="width: 200px; height: 200px;">
        <div style="margin-left: 20px;">
            <h2 style="color: #333;">Game Name</h2>
            <p style="color: #555;">Game description goes here. This can be a brief overview of the game's story, gameplay, etc.</p>
        </div>
    </div>

    <div style="display: flex; align-items: center;">
        <img src="game_photo.jpg" alt="Game Photo" style="width: 200px; height: 200px;">
        <div style="margin-left: 20px;">
            <h2 style="color: #333;">Game Name</h2>
            <p style="color: #555;">Game description goes here. This can be a brief overview of the game's story, gameplay, etc.</p>
        </div>
    </div>
</div>
