@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        
    </style>
</head>

<h1 class="display-4" id="guztia" style="text-align: center;">JOKOAK:</h1>

<div style="align-items: center;">
       
    <div style="display: flex; align-items: center;">
        <img src="~/images/Zombiekiller.png" alt="Game Photo" style="width: 200px; height: 200px;">
       <div style="margin-left: 20px;">
            <h2 style="color: #333;">Zombie Killer</h2>
            <p style="color: #555;">Game description goes here. This can be a brief overview of the game's story, gameplay, etc.</p>
       </div>
    </div>

    <div style="display: flex; align-items: center;">
        <img src="~/images/pouni.png" alt="Game Photo" style="width: 200px; height: 200px;">
        <div style="margin-left: 20px;">
            <h2 style="color: #333;">Pouni</h2>
            <p style="color: #555;">Plataforma joko bat dat, non helburua frutak jasotzea da, obstakuluak ekiditzen</p>
        </div>
    </div>

    <div style="display: flex; align-items: center;">
        <img src="~/images/johnny.png" alt="Game Photo" style="width: 200px; height: 200px;">
        <div style="margin-left: 20px;">
            <h2 style="color: #333;">Johnny</h2>
            <p style="color: #555;">Joku hontan Johnny kontrolatzen duzu, armatutako gudaria, helburua jokoan aurrera egitea da, armatuta dauden gaizkileak hil</p>
        </div>
    </div>

    <div style="display: flex; align-items: center;">
        <img src="~/images/MahiKingdom.png" alt="Game Photo" style="width: 200px; height: 200px;">
        <div style="margin-left: 20px;">
            <h2 style="color: #333;">Mahi kingdom</h2>
            <p style="color: #555;">Plataforma joko bat dat, non helburua frutak jasotzea da, obstakuluak ekiditzen</p>
        </div>
    </div>
</div>
