@{
    ViewData["Title"] = "Home Page";
}
<div class="container search">
    <div class="row">
        <div class="col-md-6">
            @*irudia*@
        </div>
        <div class="col-md-6">
            <form class="form-inline my-2 my-lg-0 float-right" id="searchForm">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info btn-dark my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
</div>
<div class="container" id="printzipala">
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-menua">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>       
        <div class="collapse navbar-collapse erlatiboa" id="navbarSupportedContent">
            <div class="navbar-nav me-auto mb-2 mb-lg-0">
                <nav class="navbar navbar-expand-lg navbar-light bg-light bg-menua">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">PUNTUAZIO OROKORRA</a>
                        
                        <div class="collapse navbar-collapse erlatiboa" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item dropdown full-width">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        JOKOAK
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-area="" asp-controller="PodiumJokoak" asp-action="Index">@await Component.InvokeAsync("Jokoak", new { id = 1 })</a> <!-- Busca ViewComponent JOKOAKVIEWCOMPONENT  y pasa un parametro id=1-->
                                        <a class="dropdown-item" asp-area="" asp-controller="PodiumJokoak" asp-action="Index">@await Component.InvokeAsync("Jokoak", new { id = 2 })</a> <!-- Busca ViewComponent JOKOAKVIEWCOMPONENT  y pasa un parametro id=1-->
                                        <a class="dropdown-item" asp-area="" asp-controller="PodiumJokoak" asp-action="Index">@await Component.InvokeAsync("Jokoak", new { id = 3 })</a> <!-- Busca ViewComponent JOKOAKVIEWCOMPONENT  y pasa un parametro id=1-->
                                        <a class="dropdown-item" asp-area="" asp-controller="PodiumJokoak" asp-action="Index">@await Component.InvokeAsync("Jokoak", new { id = 4 })</a> <!-- Busca ViewComponent JOKOAKVIEWCOMPONENT  y pasa un parametro id=1-->

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <a class="inkesta" href="@Url.Action("Index", "Inkesta")">INKESTA</a>

    </nav>
    <div class="taldeak-wrapper">
        <div class="taldeak">
            <div class="taldea">
                <div class="irudia">
                    <img src="images/talde1.png" alt="fries"> 
                </div>
                <div class="taldea-text">
                    <a href="#ezaugarriak1" name="ezaugarriak1" class="anchor-link">
                        <h1>TALDE 1</h1>
                    </a>

                    <ul>
                        <li>Indusi poligonoa</li>
                        <li>Ategorrieta kalea 5</li> 
                        <li>656-643-621</li>
                        <li>talde1@uni.eus</li>
                        <li>Irun</li>
                    </ul>

                </div>
            </div>
            <div class="taldea">
                <div class="taldea-text">
                    <a href="#ezaugarriak2" name="ezaugarriak2" class="anchor-link">
                        <h1>TALDE 2</h1>
                    </a>

                    <ul>
                        <li>Indusi poligonoa</li>
                        <li>Ategorrieta kalea 5</li> 
                        <li>656-643-621</li>
                        <li>talde1@uni.eus</li>
                        <li>Irun</li>
                    </ul>

                </div>
                <div class="irudia">
                    <img src="images/talde2.png" alt="fries">
                </div>
            </div>
            <div class="taldea">
                <div class="irudia">
                    <img src="images/talde3.png" alt="fries">
                </div>
                <div class="taldea-text">
                    <a href="#ezaugarriak3" name="ezaugarriak3" class="anchor-link">
                        <h1>TALDE 3</h1>
                    </a>

                    <ul>
                        <li>Indusi poligonoa</li>
                        <li>Ategorrieta kalea 5</li>
                        <li>656-643-621</li>
                        <li>talde1@uni.eus</li>
                        <li>Irun</li>
                    </ul>

                </div>
            </div>
            <div class="taldea">
                <div class="taldea-text">
                    <a href="#ezaugarriak4" name="ezaugarriak4" class="anchor-link">
                        <h1>TALDE 4</h1>
                    </a>

                    <ul>
                        <li>Indusi poligonoa</li>
                        <li>Ategorrieta kalea 5</li> 
                        <li>656-643-621</li>
                        <li>talde1@uni.eus</li>
                        <li>Irun</li>
                    </ul>

                </div>
                <div class="irudia">
                    <img src="images/talde4.png" alt="fries">
                </div>
            </div>
        </div>
    </div>
</div>

