@model IEnumerable<Erronka2.Models.LangilePartida>

<ul class="dropdown-menu">
    <li>
        <div class="container padinaMenu">
            <div class="row ">
                <div class="col-md-4 nireMenua">
                    <h4 class="borgona">Aukeratu partida:</h4>
                    @{
                        var izena = "";
                        foreach (var item in Model)
                        {
                            if (item.PartidaiIzena != izena)
                            {
                                <a href="#">@Html.DisplayFor(modelItem => item.PartidaiIzena)</a>

                                <br />
                                izena = item.PartidaiIzena;
                            }
                        }
                    }
                </div>

                <div class="col-md-8">
                    @{
                        //var images = "" ;
                        //foreach (var item in Model) {
                        //    switch (ViewBag.mota != 0)
                        //    {
                        //            case 1:
                        //            <img class="img-fluid" src="~/images/wine-white.jpg" />
                        //            break;
                        //        case 2:
                        //            <img class="img-fluid" src="~/images/wine-red.jpg" />
                        //            break;
                        //        case 3:
                        //            <img class="img-fluid" src="~/images/wine_rose.jpg" />
                        //            break;
                        //    }
                        //}

                        //if (ViewBag.mota == 1)
                        //{
                        //    <img class="img-fluid" src="~/images/wine-white.jpg" />
                        //}
                        //if (ViewBag.mota == 2)
                        //{
                        //    <img class="img-fluid" src="~/images/wine-red.jpg" />
                        //}
                        //if (ViewBag.mota == 3)
                        //{
                        //    <img class="img-fluid" src="~/images/wine_rose.jpg" />
                        //}
                    }
                </div>
            </div>
        </div>
    </li>
</ul>


