html {
  font-size: 16px;
}

@media (max-width: 768px) {
    .formularioa {
        flex-direction: column;
        text-align: center;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: rgb(219,219,219);
    background: radial-gradient(circle, rgba(219,219,219,1) 0%, rgba(0,0,0,0.49343487394957986) 100%);
}

#searchForm {
    display: flex;
    justify-content: space-around;
}

#searchForm > .btn {
    margin-left: 20px;
}

.bg-menua {
    background-color: whitesmoke !important;
}

.erlatiboa {
    position: relative;
}

.full-width.dropdown {
    position: static;
}

.full-width.dropdown > .dropdown-menu {
}

.full-width.dropdown > .dropdown-menu > li > a {
    white-space: normal;
    text-align: center;
}

#printzipala {
    padding: 10px;
}

#printzipala > .navbar  {
    padding: 10px;
}

.inkesta {
    text-decoration: none;
}

.formularioa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right:5%;
}

.formLeft {
    width:75%;
    padding:5%;
}

.formRight {
    flex-direction: column;
    text-align: center;
    padding: 5%;
}

#registerForm {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.forgotRegister {
    text-align: center;
}

.anchor-link {
    text-decoration: none;
}

.anchor-link:focus {
    outline: none;
}

.anchor-link h3::after {
    font-family: "Font Awesome 5 Free";
    content: " \f0c1";
    font-weight:900;
}

@media (max-width: 768px) {

    .taldea {
        grid-template-columns: 1fr !important;
    }

    .taldea > .taldea-text {
        order: 1;
    }

    .taldea > .irudia {
        order: 2;
    }

    .taldeak-wrapper {
        margin-top: 5%;
    }
}

.taldeak-wrapper {
    display: flex;
    justify-content: center;
    padding: 1%;
}

.taldeak-wrapper > .taldeak {
    width: 80%;
}

.taldeak-wrapper > .taldeak > .taldea {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.taldea > .irudia img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.taldea > .taldea-text {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    padding: 42px;
}

.taldea > .taldea-text h3 {
    text-align:center;
    color: blue;
}