html {
  font-size: 14px;
}

@media (max-width: 768px) {
      
    .formularioa {
        flex-direction: column;
        text-align: center;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: rgb(219,219,219);
    background: radial-gradient(circle, rgba(219,219,219,1) 0%, rgba(0,0,0,0.49343487394957986) 100%);
}

#searchForm {
    display: flex;
    justify-content: space-around;
}

#searchForm > .btn {
    margin-left: 20px;
}

.bg-menua {
    background-color: whitesmoke !important;
}

.erlatiboa {
    position: relative;
}

.full-width.dropdown {
    position: static;
}

    .full-width.dropdown > .dropdown-menu {
    }

        .full-width.dropdown > .dropdown-menu > li > a {
            white-space: normal;
            text-align: center;
        }

#printzipala {
    padding: 10px;
}

#printzipala > .navbar  {
    padding: 10px;
}

.inkesta {
    text-decoration: none;
}

.formularioa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right:5%;
}

.formLeft {
    width:75%;
    padding:5%;
}

.formRight {
    flex-direction: column;
    text-align: center;
    padding: 5%;
}

#registerForm {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.forgotRegister {
    text-align: center;
}