html {
    font-size: 14px;
}

@media (min-width: 1500px) {
    html {
        font-size: 23px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: lightgrey;
}

.hidden {
    display: none;
}

#nav-toggler {
    display: none;
}
