@model IEnumerable<Erronka2.Models.Partida>

<ul class="dropdown-menu">
    <li>
        <div class="container padinaMenu">
            <div class="nireMenua">
                <h5 class="borgona">Zein Partida baloratu nahi duzu?</h5>
                @{
                    foreach (var item in Model)
                    {
                        <a asp-controller="Balorazioa" asp-action="Index" asp-route-id="@item.partidaId" asp-route-izena="@item.jokoa">@Html.DisplayFor(modelItem => item.jokoa)</a>

                        <br />
                    }
                }
            </div>
        </div>
    </li>
</ul>
