@model WebErronka.Models.Balorazioa

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Balorazioa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="jokoa" class="control-label"></label>
                <input asp-for="jokoa" class="form-control" readonly />
                <span asp-validation-for="jokoa" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="testua" class="control-label"></label>
                <input asp-for="testua" class="form-control" />
                <span asp-validation-for="testua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kopurua" class="control-label"></label>
                <input asp-for="kopurua" class="form-control" max="5" />
                <span asp-validation-for="kopurua" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="data" class="control-label"></label>
                <input asp-for="data" class="form-control" readonly />
                <span asp-validation-for="data" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="erabiltzailea" class="control-label"></label>
                <input asp-for="erabiltzailea" class="form-control" value="prueba" readonly />
                <span asp-validation-for="erabiltzailea" class="text-danger"></span>
            </div>



            <div class="form-group">
                <button type="submit" class="btn btn-primary">Komentatu</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
