@model Erronka2.Models.Balorazioa

<div class="container">
    <h4>Balorazioa egin</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="langileaId" class="control-label"></label>
                    <input asp-for="langileaId" class="form-control" readonly />
                    <span asp-validation-for="langileaId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="testua" class="control-label"></label>
                    <input asp-for="testua" class="form-control" />
                    <span asp-validation-for="testua" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="kopurua" class="control-label"></label>
                    <input asp-for="kopurua" class="form-control" />
                    <span asp-validation-for="kopurua" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
