@model IEnumerable<Erronka2.Models.Balorazioa>

<div class="container">
    <h3>@ViewBag.izena-ren balorazioak</h3>


    <table class="table">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.langileaId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.testua)
                    </td>
                    <td>
                        @for (int i = 1; i <= item.kopurua; i++)
                        {
                            <img id="izarra" src="~/images/izarra.png" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.data)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        Balorazioa egiteko: <a asp-action="Create" asp-route-upeltegiaId=@Model.First().langileaId>Berria</a>
    </p>
</div>